.info
  %p<
    <strong>Внимание!</strong> Вы составляете расписание на #{TAURUS_CONFIG["semester"]["current"]["title"]} семестр. Перейти на #{link_to TAURUS_CONFIG["semester"]["other"]["title"]+" семестр", TAURUS_CONFIG["semester"]["other"]["link"]+"editor"}?

.workspace
  #form
    %p
      = 'Аудитория:'
      %br
      %input{:id => "classroom_name", :size => 10}
- if @classroom_id
  = javascript_tag("jQuery.get('"+editor_classrooms_classroom_path(@classroom_id)+"');")

= javascript_include_tag("editors/classrooms")
