.update_form{:id => "pair_edit_#{@pair.id.to_s}"}
  = form_for([:editor, :groups, @pair], :remote => true) do |f|
    = hidden_field_tag(:group_id, params[:group_id]) if params[:group_id]
    = hidden_field_tag(:subgroup, params[:subgroup]) if params[:subgroup]
    = f.hidden_field :day_of_the_week
    = f.hidden_field :pair_number
    %p{:id => "week_block"}
      %br
      = f.radio_button :week, 0
      = 'Обе недели'
      %br
      = f.radio_button :week, 1
      = 'Первая неделя'
      %br
      = f.radio_button :week, 2
      = 'Вторая неделя'
    %p{:id => "charge_card_block"}
      = 'Карта нагрузки'
      %br
      = f.select :charge_card_id, [[nil, nil]] + @charge_cards.map {|c| [c.editor_name, c.id] }
    %p{:id => "charge_card_block"}
      = 'Аудитория'
      %br
      = f.select :classroom_id, [[nil, nil]] + @classrooms.map {|c| [c.name_with_recommendation, c.id] }
    .subgroups
      = f.fields_for :subgroups, @pair.subgroups do |s|
        = render 'subgroup', :s => s
    .warnings
      - @pair.warnings.each do |warning|
        %p= t(warning, :scope => 'activerecord.warnings.pair')
    %p#dates_block_show
      %a{:href => "#"} Начало и окончание занятий?
    %p{:id => "dates_block"}
      %span{:id => "active_at_label"} Начало занятий
      %br
      = f.text_field :active_at, {:value => @pair.active_at.strftime('%d.%m.%Y'),:size => 10}
      %br
      %span{:id => "expired_at_label"} Окончание занятий
      %br
      = f.text_field :expired_at, {:value => @pair.expired_at.strftime('%d.%m.%Y'), :size => 10}
    %p
      = f.submit 'Сохранить'
