jQuery(document).ready(function($){

    function show_autocomplete () {
        $(this).val('');
        $(this).autocomplete("search", "");
    }

    $.ajaxSetup({
    "error":function() {   
        $('#group_workspace').prepend('<div id="error"></div>');
        $('#error').append('<p>Произошла ошибка при выполнении запроса</p>');
        $('#error').dialog({
            draggable: false,
            modal: true
        });
    }});

    $('#pair_edit_<%= @pair.id %>').remove();
    $('body').prepend('<%= escape_javascript render :partial => 'pair_edit' %>');
    var dlg = $('#pair_edit_<%= @pair.id %>').dialog({
        beforeClose: function(event, ui) {
            $('#pair_edit_<%= @pair.id %>').remove();
        },
        closeText: 'Закрыть',
        draggable: false,
        modal: true,
        position: 'top',
        width: '500px',
        title: 'Редактировать пару'
    });
    
    <% if flash[:error] %>
      $('#group_workspace').prepend('<div id="error"></div>');
      $('#error').append('<%= escape_javascript flash[:error] %>');
      $('#error').dialog({
        draggable: false,
        modal: true
      });
    <% flash[:error] = nil %>
    <% end %>

    $('.edit_pair').submit(function() {
        dlg.dialog("close");
    });

    function save_form (event) {
        if ($('#edit_pair_<%= @pair.id %>')) {
            $.post($('#edit_pair_<%= @pair.id %>').attr('action'),
                $('#edit_pair_<%= @pair.id %>').serialize() + "&get_subgroups=1",
                null, "script");
        }
    }

   $("#pair_charge_card_id").select2({
        placeholder: 'Выберите карту нагрузки',
        allowClear: true,
    }).change(save_form);

    $("#pair_classroom_id").select2({
        placeholder: 'Выберите аудиторию',
        allowClear: true,
    }).change(save_form);

    $('#dates_block_show a').click( function () {
        $('#dates_block').slideToggle('slow');
        return false;
    });
    
    var months = [
        'Январь',
        'Февраль',
        'Март',
        'Апрель',
        'Май',
        'Июнь',
        'Июль',
        'Август',
        'Сентябрь',
        'Октябрь',
        'Ноябрь',
        'Декабрь'];
    $('#pair_active_at').datepicker({
        firstDay: 1,
        dateFormat: 'dd.mm.yy',
        monthNames: months,
        showOn: 'button',
        buttonImage: '/images/calendar.gif',
        buttonImageOnly: true
    });
    $('#pair_expired_at').datepicker({
        firstDay: 1,
        dateFormat: 'dd.mm.yy',
        monthNames: months,
        showOn: 'button',
        buttonImage: '/images/calendar.gif',
        buttonImageOnly: true
    });
    
    var grid_context = $('.pair#<%= @pair.id %>').parent().parent();
    var current = $('.receiver', grid_context).not('.hidden_receiver');
    var index = current.prevAll('.receiver').length;
    var indexparam = $('<input id="pair_index" name="index" type="hidden" value="'+index+'">');
    $('#pair_edit_<%= @pair.id %> > form').append(indexparam);

<%
  Group.for_groups_editor.find(session[:group_editor][:groups]).each do |g|
    ts_id  = "group_editor_grid#{g.id}_day#{@pair.day_of_the_week}_pair#{@pair.pair_number}"
    timeslot = escape_javascript render :partial => "/editor/groups/groups/row",
        :locals => {:group => g, :day_counter => @pair.day_of_the_week-1, :time_counter => @pair.pair_number-1}
%>
    $('<%= "##{ts_id}" %>').parent().replaceWith('<%= timeslot %>');
    <%= render :partial => "drag_and_drop", :locals => {:group => g} %>    
<%
  end
%>
    
});
