jQuery(document).ready(function($){
    <% if flash[:error] %>
      $('#group_workspace').prepend('<div id="error"></div>');
      $('#error').append('<%= escape_javascript flash[:error] %>');
      $('#error').dialog({
        draggable: false,
        modal: true
      });
    <% end %>
<%
  Group.for_groups_editor.find(session[:group_editor][:groups]).each do |g|
    prev_id = "group_editor_grid#{g.id}_day#{@prev_pair.day_of_the_week}_pair#{@prev_pair.pair_number}"
    new_id  = "group_editor_grid#{g.id}_day#{@pair.day_of_the_week}_pair#{@pair.pair_number}"
    prev_timeslot = escape_javascript render :partial => "/editor/groups/groups/row",
      :locals => {:group => g, :day_counter => @prev_pair.day_of_the_week-1, :time_counter => @prev_pair.pair_number-1}
    if prev_id == new_id
      new_timeslot = prev_timeslot
    else
      new_timeslot = escape_javascript render :partial => "/editor/groups/groups/row",
        :locals => {:group => g, :day_counter => @pair.day_of_the_week-1, :time_counter => @pair.pair_number-1}
    end
%>
    $('<%= "##{prev_id}" %>').parent().replaceWith('<%= prev_timeslot %>');
    <% unless prev_id == new_id %>
    $('<%= "##{new_id}" %>').parent().replaceWith('<%= new_timeslot %>');
    <% end %>
    <%= render :partial => "droppable", :locals => {:group => g} %>    
<%
  end
%>
    $('.pair').draggable();
});
