%h1 Создание карт нагрузок для групп специальности #{@speciality.code} «#{@speciality.name}»
= form_tag({:action => :create_charge_cards}, :method => :post) do
  %p Данное действие автоматически создаст карты нагрузки, согласно учебному плану специальности, загруженному в систему.
  %p Карты нагрузки будут созданы на <strong>#{current_semester}</strong>. Сменить текущий семестр вы можете в меню сверху.
  %p Полученные карты нагрузки будут иметь незаполненное поле «Преподаватель». Часы будут выставлены согласно учебному плану, исходя из 18-недельного семестра.
  %p Лекционные занятия будут включать в себя все группы специальности.
  %p Практические и лабораторные работы будут созданы для каждой группы отдельно.
  %p
    = check_box_tag :remove, true
    = label_tag :remove, raw("<strong>ОПАСНО!</strong> Удалить старые карты нагрузки? Если этот флаг установлен, предварительно будут удалены все карты нагрузок для групп данной специальности. Будет удалено карт нагрузок: #{@cards_to_remove}")
  %p
    = submit_tag "Создать"
