- title @classroom.full_name

= link_to "Назад", timetable_classrooms_path, :class => "button back_button", :id => "back_button_top"

.timetable.lecturer_timetable
  %h2 Аудитория #{@classroom.full_name}. Расписание учебных пар.
  %p #{@classroom.capacity ? "Вместимость: #{@classroom.capacity} #{Russian.p(@classroom.capacity, "человек", "человека", "человек")}" : "Вместимость не указана"}#{", #{@classroom.properties_human}" if @classroom.properties_human.present?}.
  - if @classroom.department.present?
    %p Закреплена за кафедрой: #{@classroom.department.name} (#{@classroom.department.faculty.try(:name)})

  %table.table_view
    %colgroup
      %col.timecells
      - 6.times do
        %col.daycells
    %thead
      %tr
        %th
        = render :partial => 'day_header', :collection => @days
    %tbody
      = render :partial => 'time', :collection => @times

  .list_view
    - @days.each_with_index do |day, day_index|
      - if @pairs[day_index].flatten.any?
        %h3
          #{day}
        - @times.each_with_index do |time, time_index|
          - if @pairs[day_index][time_index].flatten.any?
            %dl
              %dt
                %h4 #{time}
              - @pairs[day_index][time_index].each_with_index do |pairs, week_no|
                - pairs.each do |pair|
                  %dd
                    = render 'pair_in_list', p: pair, week_no: week_no

= link_to "Назад", timetable_classrooms_path, :class => "button back_button", :id => "back_button_bottom"
