- title "Группа #{@group.name}"

= link_to "Назад", timetable_groups_path, :class => "button back_button", :id => "back_button_top"

.timetable.group_timetable
  %h2 Расписание учебных пар группы #{@group.name}
  %table
    %col.timecells
    - @days.each do |i|
      %col.daycells
    %thead
      %tr
        %th.timecell
        = render :partial => 'day_header', :collection => @days
    %tbody
      = render :partial => 'time', :collection => @times

= link_to "Назад", timetable_groups_path, :class => "button back_button", :id => "back_button_bottom"
