- title "Группа #{@group.name}"

= link_to "Назад", timetable_groups_path, :class => "button back_button", :id => "back_button_top"

- if flash[:notice]
  %p.notice= flash[:notice]

.timetable.group_timetable
  %h2 Расписание учебных пар группы #{@group.name}

  %table.table_view
    %col.timecells
    - @days.each do |i|
      %col.daycells
    %thead
      %tr
        %th.timecell
        = render :partial => 'day_header', :collection => @days
    %tbody
      = render :partial => 'time', :collection => @times

  .list_view
    - @days.each_with_index do |day, day_index|
      - if @pairs[day_index].flatten.any?
        %h3
          #{day}
        - @times.each_with_index do |time, time_index|
          - if @pairs[day_index][time_index].flatten.any?
            %dl
              %dt
                %h4 #{time}
              - @pairs[day_index][time_index].each_with_index do |pairset, week_no|
                - pairset.each do |pair, subgroup|
                  %dd
                    = render 'pair_in_list', p: pair, subgroup: subgroup, week_no: week_no

  .group_autoad
    = image_tag qrcode_timetable_group_path(@group, format: :png), class: 'qrcode'
    %h3 Забываешь расписание? Смотри его через интернет!
    %p С компьютера, мобильного, планшета, телевизора, холодильника, чего бы то ни было с доступом в интернет!
    %p Открой браузер, набери <strong>#{request.host}</strong>, введи номер группы и узнай своё расписание!
    %p Для мобильного и планшета: считай QR-код справа и сохрани страницу в закладки.

.export_pane
  %div= link_to "Скачать в формате Excel", timetable_group_path(@group, :format => :xlsx), :class => "button export excel_export"

= link_to "Назад", timetable_groups_path, :class => "button back_button", :id => "back_button_bottom"
