.group_editor{:id => "group_editor_#{group.id}", :group_id => group.id}
  %table
    %caption
      .closebutton{:class => "group_editor_close", :group_id => "#{group.id}"}
      #{group.name}
      %p.population Учащихся: #{group.population or "(не указано)"} чел.
    %thead
      %tr
        %th.subgroup 1 подгруппа
        %th.subgroup 2 подгруппа
    - @days.each_with_index do |day, day_counter|
      %tbody
        = render :partial => 'row', :collection => @times, :as => :time, :locals => {:group => group, :day_counter => day_counter}
