- subgroups = []
- to_display = []
- pairs.sort_by { |p| p[0].expired_at }.each do |b|
  - if !subgroups.include?(b[1])
    - subgroups << b[1]
    - subgroups << 0 # Если есть пара с подгруппами, то пара без подгрупп уже не влезет 
    - to_display << b

- if to_display.size > 0
  -# Если без подгрупп или есть только одна пара 3-ей или ещё какой подгруппы
  - if subgroups.max == 0 or (subgroups.max > 2 and to_display.size == 1)
    - if cellsintop.empty?
      - cellsintop << 1
    %td{:colspan => 2, :rowspan => (singlerow ? 2 : 1)}
      - pair = to_display.first[0]
      = render '/editor/groups/groups/pair', :pair => pair, :s => to_display.first[1], :group => group
  - else
    - if cellsintop.empty?
      - cellsintop << 2
    -# Если есть пара третьей или большей подгруппы и есть место куда её воткнуть
    - to_display.find_all{ |elem| elem[1] > 2 }.each do |elem|
      - if subgroups.max > 2 and to_display.size == 2 and to_display.size - skipcell.size > 0
        - elem[2] = elem[1] # elem[1] - подгруппа-позиция, elem[2] - реальная подгруппа пары
        - elem[1] = to_display.find_all{ |elem| elem[1] == 1 }.size > 1 ? 2 : 1
    - 1.upto(2) do |sub|
      - if skipcell.include?(sub)
        - skipcell - [sub]
        - next
      - sp = to_display.find_all{ |elem| elem[1] == sub }
      - if sp.size > 0
        - pair = sp.first[0]
        - a = {:rowspan=> singlerow ? 2 : pair.week.zero?? 2 : 1}
        - if pair.week == 0 and !singlerow
          - skipcell << sub
        %td{a}
          = render '/editor/groups/groups/pair', :pair => pair, :s => sp.first[2], :group => group
      - else
        %td.empty{:rowspan=> singlerow ? 2 : 1}
          .receiver{ :class => "receiver_#{group.id}", :id => "#{id}_week#{week}_sub#{sub}", :grid_id => "#{group.id}", :day_of_the_week => "#{day}", :pair_number => "#{pair_number}", :index => index, :week => week, :sub => sub}
- else
  - a = (cellsintop.include?(2) ? {:colspan=>2} : {})
  %td.empty{a}
    .receiver{ :class => "receiver_#{group.id}", :id => "#{id}_week#{week}", :grid_id => "#{group.id}", :day_of_the_week => "#{day}", :pair_number => "#{pair_number}", :index => index, :week => week}
