.info
  %p<
    <strong>Внимание!</strong> Вы составляете расписание на #{current_semester}.

#group_form
  %p
    Группа:
    %input{:id => "group_name", :size => 10}

#group_workspace
  = render :partial => 'legend'
  - # If groups are specified, show their grids immediately!
  - if @group
    = javascript_tag("jQuery.get('"+url_for([:editor, :groups, @group])+"');")
  - elsif session[:group_editor].include? :groups and session[:group_editor][:groups].any?
    - session[:group_editor][:groups].each do |group_id|
      - group = Group.find(group_id, :select => 'id')
      .group_editor{:id => "group_editor_#{group.id}"}
      = javascript_tag("jQuery.get('"+editor_groups_group_path(group)+"');")
