<style> @page { size: A4 landscape; margin: 1cm 0.5cm 0.5cm; }</style> <!-- Chrome doesn't support named pages. It's a hack. -->

- title "Заявка на учебные поручения: #{@teaching_place.try(:lecturer).try(:short_name)}, кафедра #{@teaching_place.department.short_name}"

.info.print_info
  %p Вы можете распечатать заявку непосредственно с этой страницы, нажмите кнопку «Печать» ниже:
  %p.print_button_container
    %a.btn.print_button{href: ''} Печать
    %a.btn.excel_export{href: url_for(format: 'xlsx')} В формате Excel

.training_assignments_forms.report

  %h1 <span>Заявка</span> на учебные поручения на #{current_semester.to_human}, #{@teaching_place.try(:lecturer).try(:name)}.

  %p На кафедру #{Unicode::downcase(@teaching_place.department.name)}
  %p Факультет: #{Unicode::downcase(@teaching_place.department.faculty.full_name)}
  %table.report
    %thead
      %tr
        %th Дисциплина
        %th Группа
        %th Кол-во студентов
        %th Кол-во недель
        %th Лекции
        %th Практич.
        %th Лаборат.
        %th Самос. работа
        %th Консульт.
        %th Зачёты
        %th Экзамены
        %th Уч.-произ. практ.
        %th Курсовое проектир.
        %th Практ. работы
        %th Рук-во аспирантами
        %th Итого
    %tfoot
      %tr
        %th{colspan: 3} Итого
        %td
        - @lesson_types.each do |type|
          %td= @charge_cards.select{|cc| cc.lesson_type_id == type.id }.map(&:hours_quantity).sum
        - 8.times do
          %td
        %td= @charge_cards.map(&:hours_quantity).sum
    %tbody
      - counter = 0
      - @grouped.each do |discipline, group, cards|
        %tr
          %td= discipline.name
          %td= group.name
          %td= group.population
          %td= cards.map(&:weeks_quantity).max
          - total = 0
          - @lesson_types.each do |type|
            - total += (hours = cards.select{|cc| cc.lesson_type_id == type.id }.map(&:hours_quantity).sum)
            %td= hours unless hours.zero?
          - 8.times do
            %td
          %td= total unless total.zero?

  %table.invisible.signature_block
    %col
    %col
    %col
    %tbody
      %tr
        %td Зав. кафедрой
        %td
          %p.signature{'data-subscript' => '(подпись)'} &nbsp;
        %td
          - if current_department.dept_head
            = current_department.dept_head.try(:short_name)
          - else
            %p.signature{'data-subscript' => '(Фамилия И.О.)'} &nbsp;