- pairs = classroom.pairs.in_semester(current_semester)
%tr{:id => classroom.id, :class => 'classroom_row'}
  %th
    - capacity = classroom.capacity? ? " (#{classroom.capacity} Ñ‡ĞµĞ».)" : ''
    %p= "#{classroom.name}#{capacity}"
    - if classroom.department
      %p #{classroom.department.short_name} #{classroom.department_lock ? "âš“" : ""}
    = render :partial => 'day', :collection => @days, :locals => {:classroom => classroom, :pairs => pairs}

