.info
  %p<
    <strong>Внимание!</strong> Вы составляете расписание на #{TAURUS_CONFIG["semester"]["current"]["title"]} семестр. Перейти на #{link_to TAURUS_CONFIG["semester"]["other"]["title"]+" семестр", TAURUS_CONFIG["semester"]["other"]["link"]}?

.workspace
  #form
    %p
      = 'Аудитория:'
      %br
      %input{:id => "classroom_name", :size => 10}
= javascript_tag("jQuery.get('/editor/classrooms/' + #{@classroom_id});")
