%h1 Группа #{@group.name}

%table.teaching_plan.infotable.fullwidth-table
  %thead
    %tr
      %th Дисциплина
      %th Часов в неделю
      - @lesson_types.each do |type|
        %th= type.name
  %tfoot
    %tr
      %th Всего
      %th.numeric-cell= @charge_cards.map{|cc| cc.hours_per_week}.sum
      - @lesson_types.each do |type|
        %th.numeric-cell= @charge_cards.select{|cc| cc.lesson_type_id == type.id}.map{|cc| cc.try(:hours_quantity)}.sum
  %tbody
    - @disciplines.each do |discipline|
      %tr
        %th= discipline.name
        - cur = @charge_cards.select{|cc| cc.discipline_id == discipline.id}
        %td.numeric-cell= cur.map{|cc| cc.hours_per_week}.sum
        - @lesson_types.each do |type|
          %td.numeric-cell= cur.select{|cc| cc.lesson_type_id == type.id}.first.try(:hours_quantity)
