- flow = p.charge_card.groups.map{|g| g.name + ', '}.to_s.chop.chop
.pair
  = "#{flow}"
  %br
  = "#{p.discipline}"
  %br
  = p.classroom ? "Ауд.: #{p.classroom.name} (#{p.classroom.building.name})" : "Аудитория не указана!"
  - if ![1,2,9].include?(p.active_at.month) or ![5,6,12].include?(p.expired_at.month)
    %br
    с #{p.active_at} по #{p.expired_at}
