- title @lecturer.name

= link_to "Назад", timetable_lecturers_path, :class => "button back_button", :id => "back_button_top"

.timetable.lecturer_timetable
  %h2 #{@lecturer.name}. Расписание учебных пар.
  %table
    %colgroup
      %col.timecells
      - 6.times do
        %col.daycells
    %thead
      %tr
        %th
        = render :partial => 'day_header', :collection => @days
    %tbody
      = render :partial => 'time', :collection => @times

= link_to "Назад", timetable_lecturers_path, :class => "button back_button", :id => "back_button_bottom"
