%li #{ link_to 'Факультеты', supervisor_faculties_path, class: (:current if params[:controller] == "supervisor/faculties") }
%li #{ link_to 'Специальности', supervisor_specialities_path, class: (:current if params[:controller] == "supervisor/specialities") }
%li #{ link_to 'Группы', supervisor_groups_path, class: (:current if params[:controller] == "supervisor/groups") }
%li #{ link_to 'Преподаватели', supervisor_lecturers_path, class: (:current if params[:controller] == "supervisor/lecturers") }
%li #{ link_to 'Аудитории', supervisor_classrooms_path, class: (:current if params[:controller] == "supervisor/classrooms") }
%li #{ link_to 'Семестры', supervisor_semesters_path, class: (:current if params[:controller] == "supervisor/semesters") }
%li #{ link_to 'Учебные поручения', supervisor_training_assignments_path, class: (:current if params[:controller] == "supervisor/training_assignments") }
