.menu
  %ul
    %li #{ link_to 'Преподаватели кафедры', department_teaching_places_path(current_department.id) }
    %li #{ link_to 'Дисциплины', department_disciplines_path(current_department.id) }
    %li #{ link_to 'Специальности', department_specialities_path(current_department.id) }
    %li #{ link_to 'Аудитории', department_classrooms_path(current_department.id) }
    %li #{ link_to 'Выход', destroy_user_session_path, :class => "red", :method => :delete }
    %li.semester= render 'change_semester'

.department= render 'change_department'

.info
  %p<
    Пожалуйста, ознакомьтесь с <a href="/doc/Инструкция по внесению карт нагрузок преподавателей.doc">инструкцией по заполнению карт нагрузок преподавателей</a> от 20 августа 2012 г.
  %p<
    <strong>Внимание!</strong> Вы заполняете карточки нагрузки на #{current_semester}!
