!!!
%html
  %head
    %title Система
    = stylesheet_link_tag "application", :media => :all
    = javascript_include_tag "application"
    <link rel="shortcut icon" href="/favicon.ico" />
    = csrf_meta_tag
  %body
    - if admin_signed_in?
      = render 'layouts/admin_menu'
    - if supervisor_signed_in?
      = render 'layouts/supervisor_menu'
    - if editor_signed_in?
      = render 'layouts/editor_menu'
    - if dept_head_signed_in?
      = render 'layouts/department_menu'

    - if flash[:error]
      %p.error= flash[:error]
    - if flash[:notice]
      %p.notice= flash[:notice]

    = yield
