!!!
%html
  %head
    %title Система
    = stylesheet_link_tag "application", :media => :all
    = javascript_include_tag "application"
    <link rel="shortcut icon" href="/favicon.ico" />
    = csrf_meta_tag
  %body
    - if user_signed_in? and can? :manage, User
      = render 'layouts/admin_menu'
    - if user_signed_in? and can? :manage, :all
      = render 'layouts/supervisor_menu'
    - if user_signed_in? and can? :manage, Pair
      = render 'layouts/editor_menu'
    - if user_signed_in? and can? :update, Department
      = render 'layouts/department_menu'

    - if notice
      %p.notice= notice
    - if alert
      %p.alert= alert

    = yield
