!!!
%html{ :lang => I18n.locale }
  %head
    %meta{ :charset=>"utf-8" }
    %title #{title = yield(:title); title.present? ? title : "Система"} :: АС СУР «Taurus»
    = stylesheet_link_tag "application", :media => :all
    = javascript_include_tag "application"
    %link{ :rel => "shortcut icon", :href => asset_path("favicon.ico") }
    = csrf_meta_tag
  %body
    
    = render 'application/menu/main'

    - if notice
      %p.notice= notice
    - if alert
      %p.alert= alert

    = yield
